<div class="modal fade" id="modal-update-city">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update City</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateFormData" autocomplete="off">
                    <div class="form-group">
                        <label for="name">City</label>
                        <input type="text" name="name" class="form-control" id="cityname" placeholder="Enter City Name">
                    </div>
                    <div class="form-group">
                        <label for="state">State</label>
                        <select id="stateId" class="form-control select2bs4" name="stateId">
                            <option disabled selected>Select State</option>
                            <% states.forEach(state=> { %>
                                <option value="<%= state._id %>">
                                    <%= state.name %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                    <div class="d-flex gap-2 align-items-center">
                        <button type="submit" id="submitbtn" class="btn btn-primary">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            Submit
                        </button>
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>